--extra-index-url https://download.pytorch.org/whl/cu121
pytorch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

git+https://github.com/m-bain/whisperx.git
fastapi
uvicorn
requests
python-dotenv
aiofiles
yt-dlp
git+https://github.com/JarodMica/tortoise-tts.git
pyaudio
librosa==0.9.1
numpy==1.23.5
voicefixer
matplotlib=3.8.2
num2words
./deepspeed-0.14.0+ce78a63-cp311-cp311-win_amd64.whl